@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[role="tabpanel"][hidden="true"] {
  display: none;
}

[role="tab"][aria-selected="true"] {
  font-weight: 500;
}

[role="tab"][aria-selected="true"]::after {
  content: "";
  height: 4px;
  width: 142px;
  background-color: hsl(0, 94%, 66%);
  position: absolute;
  bottom: 0;
  inset-inline: 50%;
  transform: translateX(-50%);
}

.more-button {
  @apply hidden;
}

.accordion button {
  @apply flex w-full items-center justify-between border-b-[1px] border-b-pr-soft-blue/[0.3] pb-5 text-sm font-medium text-nt-dark-blue;
}

.accordion [data-accordion-content] {
  @apply pt-5 pb-8;
}
